body{
    background-color: rgb(99, 156, 156);
    margin: 0%;
}

.alert_positivo{
    width: 30%;
    height: 10%;
    display: none;
    position: fixed;
    bottom: 5%;
    right: 5%;
    background-color: lightgreen;
    color: black;
    font: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    font-size: large;
    z-index: 1; 
}

.alert_negativo{
    width: 30%;
    height: 10%;
    display: none;
    position: fixed;
    bottom: 5%;
    right: 5%;
    background-color: red;
    color: black;
    font: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    font-size: large;
    z-index: 1;
}

#processing{
    width: 100%;
    height: 10%;
    background-color: lightgreen;
    color: black;
    font: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    font-size: large;
    display: none;

}

.top_nav{
    background-color: darkslategray;
    color: goldenrod;
    padding: 1%;
}

ul{
    position: relative;
    left: 50%;
    display: inline-flex;
}

li{
    color: goldenrod;
    list-style-type: none;
    font: bold large;
    text-decoration-line: none;
    margin-left: 20%;
}

a:any-link{
    font-size: large;
    color: goldenrod;
    text-decoration: none;
}

.selected{
    font-size: large;
    color: rgb(160, 122, 25);
    text-decoration: none;   
}

footer{
    position: relative;
    background-color: darkslategray;
    bottom: 0%;
    left: 0%;
    font: bold large;
    color: goldenrod;
    margin: 0%;
    padding: 1%; 
}

section{
    background-color: rgb(230, 230, 176);
    width: 50%;
    margin-bottom: 1%;
    margin-left: 1%;
    padding: 1%;
    margin-top: 1%;
}

h1{
    margin: 1%;
}

p{
    font-size: large;
}

#payment{
    display: none;
    margin-left: 1%;
}

button{
    display: block;
}

input{
    display: block;
    margin-bottom: 1%;
    margin-top: 1%;
}

.sesion_iniciada{
    display: none;
    left: 60%;
    top: 15%;
}

.sesion_cerrada{
    display: inline-flex;
    left: 60%;
    top: 15%;
}

.cerrar_sesion{
    background-color: darkslategray;
    color: goldenrod;
}
